/* GENERAL */

  @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@800&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}